
<h3>Here are all the best restaurants from this cuisine:</h3>

<ol>
@foreach (var restaurant in @Model["restaurants"])
{
  <li><a href='/cuisines/@Model["cuisine"].GetId()/restaurants/@restaurant.GetId()'>@restaurant.GetName()</a></li>
}
</ol>

<form action='/cuisines/@Model["cuisine"].GetId()/restaurants/new' method='get'>
<button type="submit">Add a new restaurant</button>
</form>

<form action='/cuisines/@Model["cuisine"].GetId()/restaurants/clear' method='post'>
<input id='cuisineId' name='cuisineId' type='hidden' value='@Model["cuisine"].GetId()'>
<button type="submit">Delete all restaurants</button>
</form>

<form action='/cuisines' method='get'>
<button type="submit">View all cuisines</button>
</form>

<form action='/' method='get'>
<button type="submit">Home</button>
</form>
