
<h3>Here are all the best restaurants from this cuisine:</h3>

<ol>
@foreach (var restaurant in @Model["restaurants"])
{
  <li><a href='/cuisines/@Model["cuisine"].GetId()/restaurants/@restaurant.GetId()'>@restaurant.GetName()</a></li>
}
</ol>

<form action='/restaurants/delete' method='post'>
<button type="submit">Delete all cuisines</button>
</form>

<p><a href='/cuisines/@Model["cuisine"].GetId()/restaurants/new'>Add a new restaurant</a></p>
<p><a href='/cuisines'>Return to cuisine list</a></p>
<p><a href='/'>Return to Main Page</a></p>
