<h1>Best Restaurants</h1>

<form action='/cuisines' method='get'>
<button type="submit">View cuisine types</button>
</form>

<form action='/cuisines/new' method='get'>
<button type="submit">Add a new cuisine type</button>
</form>
