<h1>Restaurant Details: </h1>

<h2>@Model["restaurant"].GetName()</h2>
<h3>Cuisine: @Model["cuisine"].GetType()</h3>

<a href='/cuisines/@Model["cuisine"].GetId()/restaurants/@Model["restaurant"].GetId()/edit'>Edit this Restaurant</a>
<a href='/cuisines/@Model["cuisine"].GetId()/restaurants/new'>Add another restaurant</a>
<a href='/cuisines'>View all cuisines</a>
