<h3>Here are all the reviews:</h3>

<ol>
@foreach (var review in @Model["review"])
{
  <li> Stars: @review.GetStar(). Comment: @review.GetReview().</li>
}
</ol>

<form action='/cuisines' method='get'>
<button type="submit">View all cuisines</button>
</form>
